<h2 class="page-subheading">Listings{% if include.param %}<span class="page-addition"> • {{ page.searchword }}</span>{% endif %}</h2>
  <ul class="post-list">
    {% for post in site.categories.listings limit 4%}
      <li>
        

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <h3 class="post-location"> • {{ post.CityState }}<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></h3>
        <p> {{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>