@import "bourbon/bourbon";
@import "neat/neat";


/**
 * Site header
 */
.site-header {
    min-height: 65px;
    position: relative;
    background:white;
    border-bottom: $underlines;
    position:fixed;
    width:100%;
    top:0;
    @include media-query($on-palm) {
        position: relative;
    }
}

.site-header-spacer {
    min-height: 65px;
    display: block;
    @include media-query($on-palm) {
        display:none;
    }
}

.header-wrapper {
    max-width:1800px;
    right:0;
    left:0;
    margin:auto;
    @include outer-container;
}

.site-logo {
    background:url("/assets/logo.svg") no-repeat center center;
    display: block;
    background-size: 150px 37px;
    height: 65px;
    width: 150px;
    @include span-columns(3);
    @include media-query($on-palm) {
        @include span-columns(12);
        background-size: 290px 78px;
        height:90px;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    @include span-columns(6);
    @include shift(3);

    .page-link {
        color: $brand-color;
        line-height: $base-line-height;
        @include span-columns(3);
        @include pad();
        text-align:center;
        font-size:1.6em;
    }
    @include media-query($on-laptop) {
        @include shift(0);
        @include span-columns(9);
    }
    @include media-query($on-palm) {
        @include span-columns(8);
        @include shift(2);
        .page-link {
            @include span-columns(6);
            @include omega();
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background: #222222;
}

.footer-heading {
    font-size: 3em;
    margin-bottom: $spacing-unit / 2;
    color:white;
    border-bottom: $underlines;
    border-color:white;
    @include media-query($on-palm) {
        font-size: 2em;
    }
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-subheading {
    color:white;
    font-size: 1.6em;
}
.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
    @include outer-container;
}

.footer-col {
    @include span-columns(6);
    @include omega();
}

.icons {
    margin-left:1em;
}
.icon--facebook{
    background:url("/assets/fbicon.svg") no-repeat center center;
}
.icon--email{
    background:url("/assets/emailicon.svg") no-repeat center center;
}

.footer-nav-links {
    padding-top:3em;
    @include outer-container;

}
.footer-nav-link {
    @include span-columns(3);
    
    @include pad();
    font-size: 2em;
    text-align: center;
    @include media-query($on-palm) {
        @include span-columns(6);
        @include omega();
    }
}

.design-by {
    padding-top:2.5em;
    text-align: center;
    font-size: 1.3em;
    @include media-query($on-palm) {
        font-size: 1em;
    }
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

.banner-container {
    background:$brand-color;
    @include media-query($on-laptop) {
        display:none;
    }
}

.home-banner {
    background:url("/assets/banner.svg") no-repeat center center;
    display: block;
    background-size: 100%;
    height:700px;
    width: 90%;
    margin:auto;
}
.page-content {
    padding: $spacing-unit 0;
    background: white;
}

.page-heading {
    font-size: 4em;
    color: $brand-color;
    border-bottom: $underlines;
    border-bottom-width:2px;
    @include media-query($on-palm) {
        font-size: 2em;
    }
}

.page-subheading {
    font-size: 2em;
    color: #AAA;
    border-bottom: $underlines;
}

.login {
    @include outer-container;
    margin-bottom: 5em;
}

#login-header {
    @include outer-container;
    margin-bottom:0;
    margin-top:5em;
    border:none;
}

.login-title {

    @include shift(3);
    @include span-columns(6);
    @include media-query($on-palm) {
        @include span-columns(10);
        @include shift(1);
    }
}

.login-textbox {
    margin:.3em;
    @include shift(3);
    @include span-columns(6);
    @include pad(.4em);
    border:none;
    background:#EEE;
    border-radius:0;
    @include media-query($on-palm) {
        @include span-columns(10);
        @include shift(1);
    }
}

.login-submit {
    @include shift(3);
    @include span-columns(3);
    background:$brand-color;
    color:white;
    border:none;
    font-size: 1.8em;
    padding-top:.1em;
    padding-bottom:.1em;
    text-transform: uppercase;
    margin-top:1em;
    &:hover {
        background:darken($brand-color, 5%);
    }
    @include media-query($on-palm) {
        @include span-columns(6);
        @include shift(1);
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    float:right;
}

.post-link {
    display: block;
    font-size: 2.5em;
    line-height: 1em;
    padding-top: .2em;
    @include media-query($on-palm) {
        font-size: 1.5em;
    }
}

.post-location {
    color:#AAA;
    font-size: 2em;
    line-height: .1em;
    padding-left:.2em;
    @include media-query($on-palm) {
        font-size: 1.2em;
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    text-transform: uppercase;
    color:$brand-color;
    border-bottom:$underlines;
    border-bottom-width: 2px;
}

.post-title {
    font-size: 3em;
    letter-spacing: 1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
