---
layout: default
---

<div class="post">

  <header class="post-header">
    {% if page.position %}
    {% else %}
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    {% endif %}
    <h1 class="post-title">{{ page.title }}{% if page.position %}<span class="post-position"> • {{ page.position }}</span>{% endif %}</h1>
  </header>

  <article class="post-content">
  {% if page.position %}
  <div class="agent-image agent-content-image"></div>
  {% endif %}
    {{ content }}
  </article>
  {% if page.email %}
    <a class="blue-button" href="mailto:{{ page.email }}">Email</a>
  {% endif %}
</div>